:root {
  /* colors */
  --color: #727e86;
  --color-white: #fff;
  --accent-color: #e87d87;
  --active-color: #ff0000;
  --title-color: #212529;
  --border-color: #e6e9ec;

  /* background */
  --bg-light: #f8f9fa;

  /* padding */
  --padding: 8px;

  /* gap */
  --gap: 10px;

  /* border-radius*/
  --radius: 5px;

  /* border */
  --border: 1px solid var(--border-color);
  
}
