.component {
  min-height: var(--height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-bottom: 10px;
  width: 50px;
  fill: #a1b3bf;
}

.text {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 400;
  color: var(--title-color);
}
