.component {
  position: relative;
}

.icon {
  position: relative;
  margin: 0 var(--gap);
  height: 32px;
  width: 32px;
  background-image: url('@img/header-controls-sprite.png');
  background-repeat: no-repeat;
  background-position: -64px 0;
  cursor: pointer;
  z-index: 1;

  &_input {
    position: absolute;
    right: 0;
  }
}
