.sub_title {
  margin-top: calc(var(--gap) * 2);
  margin-bottom: var(--gap);
  font: var(--fw-medium) 24px var(--ff);
}

.item {
  list-style-type: decimal;
  padding-bottom: calc(var(--padding) * 2);
  &:last-child {
    margin-bottom: calc(var(--gap) * 3);
  }
}
