.order {
  display: grid;
  place-content: center;
}

.form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--padding) * 2);
  padding: calc(var(--padding) * 2);
  color: var(--title-color);
  border: var(--border);
  border-radius: var(--radius);
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: var(--padding);
}

.input {
  padding: var(--padding);
  font-size: 14px;
  border: var(--border);
  border-radius: var(--radius);

  &::placeholder {
    color: var(--color);
  }
}

.btn {
  width: 100px;
}

.btn_delete {
  width: 100px;
  padding: var(--padding);
  background-color: var(--color-white);
  font-size: 16px;
  color: var(--active-color);
  border: 1px solid var(--active-color);
  border-radius: var(--radius);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--active-color);
    color: var(--color-white);
  }
}
