.header {
  padding: calc(var(--padding) * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-light);
}

.nav_wrapper {
  display: flex;
  gap: calc(var(--gap) * 2);
  align-items: center;
}

.icons_wrapper {
  display: flex;
}

.cart {
  position: relative;
  margin: 0 var(--gap);
  height: 32px;
  width: 32px;
  background-image: url("../../img/header-controls-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.cart_full {
  position: absolute;
  right: -10px;
  top: -5px;
  display: block;
  height: 21px;
  width: 21px;
  font: 400 11px/21px "Roboto", sans-serif;
  text-align: center;
  color: var(--color-white);
  border-radius: 50%;
  background: linear-gradient(90deg, #ff65a5 1.11%, #ff8076 100%);
  box-shadow: 0px 2px 8px rgba(255, 101, 165, 0.6), inset 0px 1px 1px #ff8076;
}
