.btn {
  width: 24px;
  height: 30px;
  padding: 5px;
  background-color: var(--color);
  color: #fff;
  border: var(--btn-border);
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: #474747;
  }
}

.input {
  width: 34px;
  height: 30px;
  padding: 5px;
  text-align: center;
  border: none;
  border-top: var(--btn-border);
  border-bottom: var(--btn-border);
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
