.footer {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--gap) * 3);
  padding: 0 calc(var(--padding) * 3);
  background-color: var(--bg-light);
}

.col {
  width: 300px;
}

.title {
  margin-bottom: calc(var(--padding) * 2);
}

.pay_sistems {
  display: flex;
}

.pay {
  width: 46px;
  height: 28px;
  background-color: var(--color-white);
  background-repeat: no-repeat;
  background-image: url('../../img/footer-sprite.png');
  border: 2px solid var(--color-white);
  border-radius: 8px;

  &:not(:first-child) {
    margin-left: 5px;
  }
}

.paypal {
  background-position: -2px -6px;
}
.master_card {
  background-position: -54px -8px;
}
.visa {
  background-position: -104px -8px;
}
.yandex {
  background-position: -154px -8px;
}
.webmoney {
  background-position: -2px -46px;
}
.qiwi {
  background-position: -52px -46px;
}

.social {
  margin-top: var(--gap);
}
.social_link {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 5px;
  border-radius: var(--radius-round);
  background-repeat: no-repeat;
  background-image: url('../../img/footer-sprite.png');

  &:hover {
    cursor: pointer;
  }
}
.twitter {
  background-position: -107px -42px;
}
.vk {
  background-position: -157px -42px;
}

.copyright {
  font-size: 0.8em;
}

.phone,
.email {
  display: block;
}

.text_right {
  display: grid;
  gap: 5px;
  text-align: end;
}
