.component {
  width: 100%;
  border-collapse: collapse;
}
.row {
  display: grid;
  grid-template-columns: 50px repeat(6, 1fr);
  text-align: left;
}
.col {
  padding: var(--gap);
  border: var(--border);
}

.footer {
  border: var(--border);
  text-align: end;
  padding: var(--gap);
}
