.list {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--gap) * 3);
}

.active {
  color: var(--active-color);
}

.item {
  font-size: 1.3rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
