.banner {
  position: relative;
}

.title {
  position: absolute;
  top: 42px;
  right: 0;
  width: 487px;
  height: 98px;
  background: linear-gradient(
    270deg,
    rgba(161, 179, 191, 0.8) 72.59%,
    rgba(161, 179, 191, 0) 98.05%
  );
  font: var(--fw-bold) 48px/98px var(--ff);
  text-align: center;
  color: var(--color-white);
  z-index: 5;
}
